body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Barlow",
    "Barlow Condensed", "Bellefair",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark: #0B0D17;
  --white-font: #FFFFFF;
  --blue-font: #D0D6F9;
  font-size: 16px;
  color: #ffffff;
}

.heading-1 {
  font-size: 5rem;
  font-family: "Bellefair";
}

.heading-2 {
  font-size: 3.5rem;
  font-family: "Bellefair";
}

.heading-3 {
  font-size: 1.5rem;
  font-family: "Bellefair";
}

.heading-4 {
  font-size: 1rem;
  font-family: "Bellefair";
}

/*mission*/
.heading-5 {
  font-size:1rem;
  font-family: "Barlow Condensed";
  letter-spacing: 2.7px;
  color: var(--blue-font);
}

/* distance/days */
.subheading-1 {
  font-size: 1.75rem;
  font-family:"Bellfair";
}

/*ave dist*/
.subheading-2 {
  font-size: .875rem;
  font-family: "Barlow Condensed";
  letter-spacing: 2.35px;
}

.nav-text {
  font-size: 1rem;
  font-family: "Barlow Condensed";
  letter-spacing: 2.7px;
}
.body-text {
  font-size: .938rem;
  line-height: 25px;
  font-family: "Barlow";
  color: var(--blue-font);
}

/* Just Desktop*/
@media screen and (min-width: 1024px){
  .heading-2 {
    font-size: 6.25rem;
  }
  .heading-3 {
    font-size: 3.5rem;
  }
  .heading-4 {
    font-size: 2rem;
  }
  .heading-5 {
    font-size: 1.75rem;
    letter-spacing: 4.75px;
  }
  .body-text {
    font-size: .1.125rem;
    line-height: 32px;
  }
}



/* Just Tablet*/
@media screen and (max-width: 1023px) and (min-width: 768px){
  
  .heading-2 {
    font-size: 5rem;
  }
  .heading-3 {
    font-size: 2.5rem;
  }
  .heading-3 {
    font-size: 1.5rem;
  }
  .heading-5 {
    font-size:1.25rem;
    letter-spacing: 3.38px;
  }
  .nav-text {
    font-size: .875rem;
  }
  .body-text{
    font-size: 1rem;
    line-height: 28px;
  }
}


/* Tablet and Desktop*/
@media screen and (max-width: 768px){
  .heading-1 {
    font-size: 9.375150rem;
  }
}
